<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }
    .fieldErrorMsg {
        color: #bd2130;
    }
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <h3>회원가입</h3>
    <form role="form" action="/join" method="post" th:object="${joinMemberDto}">
        <div class="form-group">
            <label th:for="username">이메일</label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('username')} ? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldErrorMsg"></p>
        </div>
        <div class="form-group">
            <label th:for="nickname">닉네임</label>
            <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요"
                   th:class="${#fields.hasErrors('nickname')} ? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="fieldErrorMsg"></p>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')} ? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldErrorMsg"></p>
        </div>
        <div class="form-group">
            <label th:for="username">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')} ? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldErrorMsg"></p>
        </div>
        <div class="form-group">
            <label th:for="username">비밀번호 재입력</label>
            <input type="password" th:field="*{password2}" class="form-control" placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password2')} ? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}" class="fieldErrorMsg"></p>
        </div>
        <button th:onclick="" class="btn btn-primary">가입하기</button>
    </form>
    <br/>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>